body {
	background-color: lightblue;
}

* {
	margin: auto;
}

h1.title {
	color: black;
	text-align: center;
	font-size: 80px;
	font-family: AR Christy;
}

#mapDiv {
	height: 60%;
	width: 99.3%;
	border: 5px solid black;
	float: middle;
}

#aboutImg {
	height: 100px;
	width: 140px;
	float: center;
	align: center;
}

pre {
	font-family: Comic Sans MS;
	text-align: center;
}

#aboutA {
	text-decoration: none;
	float: center;
}

#aboutDiv {
	float: center;
	align: center;
	width: 140px;
	height: 100px;
}

#addImg {
	height: 24px;
	width: 35px;
	margin-left: 20%;
}

#addI {
	text-align: left;
	margin-left: 18%;
	font-family: Comic Sans MS;
}

#MEI {
	text-align: right;
	margin-right: 13%;
	font-family: Comic Sans MS;
}

#MEImg {
	height: 24px;
	width: 35px;
	float: right;
	margin-right: 15%;
}

p.I {
	display: block;
}

img.btmImg {
	display: block;
}

span.btm {
	display: inline;
}

video {
	width: 100%;
	height: 750px;
}

h1.about {
	color: black;
	text-align: center;
	font-size: 80px;
	font-family: AR Christy;
}

span.aboutTitle {
	font-family: Comic Sans MS;
	font-size: 20px;
}