body {
	background-color: lightgrey;
}

* {
	margin: auto;
}

h1.title {
	color: black;
	text-align: center;
	font-size: 80px;
	font-family: AR Christy;
}

#mapDiv {
	height: 60%;
	width: 100%;
	border: 5px solid black;
	float: left;
}

#aboutImg {
	height: 100px;
	width: 140px;
	float: left;
	
}

pre {
	font-family: Comic Sans MS;
	text-align: center;
}

#aboutA {
	text-decoration: none;
}

#addI {
	font-family: Comic Sans MS;
}

#MEI {
	font-family: Comic Sans MS;
}

div.btm {
	display: inline-block;
	width: 100%;
}

div.btm1 {
	margin-right: 30%;
	margin-left: 30%;
	border: 3px solid darkblue;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	height: 30px;
	text-align: center;
	background-color: lightblue;
}

div.btm2 {
	margin-right: 30%;
	margin-left: 30%;
	border: 3px solid darkblue;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	height: 30px;
	text-align: center;
	background-color: lightblue;
}

video {
	width: 100%;
	height: 750px;
}

h1.about {
	color: black;
	text-align: center;
	font-size: 80px;
	font-family: AR Christy;
}

span.aboutTitle {
	font-family: Comic Sans MS;
	font-size: 20px;
}

div.btm1:hover {
	background-color: blue;
}

div.btm2:hover {
	background-color: blue;
}

div.btm1:visited {
	background-color: green;
}

div.btm2:visited {
	background-color: green;
}

div.btm1:link {
	background-color: green;
}

div.btm2:link {
	background-color: green;
}

div.btm1:active {
	background-color: darkblue;
}

div.btm2:active {
	background-color: darkblue;
}

#sendLink {
	text-decoration: none;
	color: black;
}

#sendLink:hover {
	text-decoration: none;
	color: white;
}