body {
	background-color: lightblue;
}

* {
	margin: auto;
}

h1 {
	color: black;
	text-align: center;
	font-size: 80px;
	font-family: AR Christy;
}

#aboutdiv {
	height: 100px;
	width: 160px;
	float: center;
}

#mapdiv {
	height: 650px;
	width: 99.3%;
	border: 3px solid blue;
	float: center;
}

a:link {
	color: blue;
	font-size: 18;
}

a:hover {
	color: darkblue;
	font-size: 20;
}

#about {
	height: 100px;
	width: 140px;
	float: middle;
	text-align: center;
	text-decoration: none;
}

pre {
	font-family: Verdana;
	text-align: center;
}